.imagen_carrito {
  width: 6rem;
  height: 6rem;
}

.imagen_modal {
  width: 15rem;
  height: 20rem;
  @media screen and (min-width: 390px) {
    width: 20rem;
    height: 25rem;
  }
  @media screen and (min-width: 576px) {
    width: 25rem;
    height: 32rem;
  }
}
