.carousel-item {
  height: 650px;
}
.carousel-item img {
  height: 650px;
  object-fit: cover;
}

.carousel-inner h1 {
  color: red;
  font-family: $fontRara;
  font-weight: bold;
  font-size: 4rem;
  -webkit-text-stroke: 2px black;
}
