.form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2rem;
  padding: 4rem 0;
  color: white;
  h3 {
    text-transform: uppercase;
    font-family: $fontRara;
    -webkit-text-stroke: 2px black;
    font-size: 1.8rem;
    @media screen and (min-width: 768px) {
      font-size: 2.2rem;
    }
    @media screen and (min-width: 1200px) {
      font-size: 2.5rem;
    }
  }
}

.form__btn {
  background-color: rgba(180, 9, 9, 1);
  font-weight: bold;
  padding: 0.3rem 1rem;
  margin: 0.5rem 0.5rem;
  cursor: pointer;
  width: 10rem;
  text-transform: uppercase;
  border-radius: 4rem;
  &:hover {
    background-color: rgb(224, 98, 8);
  }
}

.form__btn--color {
  color: white;
}

.form__mail {
  background-color: rgba(160, 9, 9, 1);
  font-weight: bold;
  padding: 0.2rem;
  border-radius: 0.2rem;
  outline: none;
  border: 2px solid rgba(100, 9, 9, 1);
}

.form__mail--color {
  color: white;
}

.bgGradient {
  background: linear-gradient(to top, rgb(245, 103, 9), rgba(245, 9, 9, 1));
  &:hover {
    background: linear-gradient(to top, rgba(245, 9, 9, 1), rgb(245, 103, 9));
  }
}
