.bgHeroe {
  background-size: cover;
  .bgHeroe__format {
    text-transform: uppercase;
    min-height: 50vh;
    align-items: center;
    margin: 0;
  }
  .bgHeroe__format--font {
    font-family: $fontRara;
    font-size: 3rem;
    text-align: center;
    @media screen and (min-width: 768px) {
      font-size: 3.5rem;
    }
    @media screen and (min-width: 1200px) {
      font-size: 4rem;
    }
  }
  .bgHeroe__format--color {
    color: red;
    -webkit-text-stroke: 2px black;
  }
}

.bgHeroeQuienesSomos {
  background-image: url(../media/inicial_preguntas.jpg);
}

.bgHeroeTienda {
  background-image: url(../media/tienda_online.jpg);
}

.bgHeroePreguntas {
  background-image: url(../media/preguntas_frencuentes.jpg);
}

.bgHeroeTablas {
  background-image: url(../media/tabla_talles.jpg);
}

.bgHeroeContacto {
  background-image: url(../media/contacto.jpg);
}
