.sectionPreguntas {
  padding: 0 15% 0 15%;
  background-image: url(../media/spring.png);
  @media screen and (min-width: 1200px) {
    padding: 0 20% 0 20%;
  }
  article h4 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    @media screen and (min-width: 1200px) {
      font-size: 1.8rem;
    }
  }
  article p {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0.5rem 1rem;
    @media screen and (min-width: 1200px) {
      font-size: 1.3rem;
    }
  }
  article ol {
    padding: 0.5rem;
    padding-left: 2.5rem;
    @media screen and (min-width: 1200px) {
      font-size: 1.3rem;
    }
  }
  article ul {
    padding: 0.5rem;
    padding-left: 2.5rem;
    @media screen and (min-width: 1200px) {
      font-size: 1.3rem;
    }
  }
}

.accordion-bg {
  background-image: url(../media/spring.png);
}

.accordion__h3 {
  text-align: center;
  font-size: 1.2rem;
  margin: 2rem;
  font-family: $fontRara;
  @media screen and (min-width: 768px) {
    font-size: 1.8rem;
  }
  @media screen and (min-width: 1200px) {
    font-size: 2.2rem;
  }
}

.accordion__h3--color {
  color: red;
}
