.terminos {
  padding: 0 15% 0 15%;
  margin-bottom: 2rem;
  background-image: url(../media/spring.png);
  @media screen and (min-width: 1200px) {
    padding: 0 12% 0 12%;
  }
  li {
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
    @media screen and (min-width: 1200px) {
      font-size: 1rem;
    }
  }
  article h4 {
    display: grid;
    grid-template-columns: 1fr;
    text-transform: uppercase;
    padding: 0.5rem 0;
    font-size: 1.1rem;
    font-weight: bold;
    @media screen and (min-width: 1200px) {
      padding: 0.5rem 0;
    }
  }
  article div {
    display: grid;
    padding-bottom: 1rem;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
    @media screen and (min-width: 1200px) {
      font-size: 1rem;
    }
  }
  .terminos__h3 {
    text-align: center;
    font-size: 1.8rem;
    margin: 2rem;
    font-family: $fontRara;
    @media screen and (min-width: 1200px) {
      font-size: 2.5rem;
    }
  }
  .terminos__h3--color {
    color: red;
    -webkit-text-stroke: 2px black;
  }
}
